<!-- Page Content -->
  <section id="tour-main" class="mb-3">
    <div class="container mb-3">
      <div class="row justify-content-center align-items-center text-center">
        <div class="col-lg-6">
          <h1 class="mt-5">{{tour.title}}</h1>
        </div>
      </div>
    </div>

    <div class="container">
        <div class="row justify-content-center align-items-center text-center">
          <div class="col-lg-10">
            <div class="card shadow-sm">
                <h5 class="card-header">{{tour.title}}<br /><span id="creator" class="font-italic">by John Smith</span></h5>
                <div class="card-body">
                  <img src="{{tour.URL}}" alt="Image related to {{tour.neighborhood}}" class="img-thumbnail w-50 mb-2">
                  <h3><span id="neighborhood" class="badge badge-info">{{tour.neighborhood}}</span></h3>
                  <h5><span id="duration" class="badge badge-danger">{{tour.duration}} minutes</span></h5>
                  <p>
                      {{#each (returnArrayfromString tour.tags)}}
                      <span class="tour-tag badge badge-secondary">{{this}}</span>
                      {{/each}}
                  </p>
                  <p class="card-text">{{tour.description}}</p>
                  {{!-- Begin location accordion --}}
                  <div class="accordion" id="accordionExample">
                    {{#each tour.Locations}}
                    <div class="card">
                      <div class="card-header" id="heading{{id}}">
                        <h2 class="mb-0">
                          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{id}}" aria-expanded="true" aria-controls="collapse{{id}}">
                            {{title}}
                          </button>
                        </h2>
                      </div>
                  
                      <div id="collapse{{id}}" class="collapse" aria-labelledby="heading{{id}}" data-parent="#accordionExample">
                        <div class="card-body">
                            <p>{{description}}</p>

                            <a href="https://www.google.com/maps/place/{{address}}" target="_blank" class="btn btn-primary btn-sm stop-address" role="button">{{address}}</a>
                        </div>
                      </div>
                    </div>
                    {{else}} 
                    <h3 class="text-center font-italic">There are currently no stops for this tour.</h3>
                    {{/each}}
                  </div>
                  {{!-- End location accordion --}}
                </div>
              </div>
          </div>
        </div>
      </div>
  </section>